<h2 style='font-size: 24px; font-weight: bold; color: #333; margin-top: 0;'>
  Welcome to Mevine! Your Account Setup is Complete!
</h2>
<p>Hello {{name}},</p>
<p>
  We're excited to let you know that your account setup on Mevine is now
  complete! You're all set to start sharing and discovering amazing memes.
</p>
<p>
  Get ready to dive in and explore the best of Mevine. If you have any questions
  or need assistance, our support team is always here to help.
</p>
<p>Thanks,<br />The Mevine Team</p>